@for( player of game.players; track player; let i = $index) {
<app-player
  class="player_position"
  [ngStyle]="{ 'top.px': 100 + i * 90 }"
  [name]="player"
  [playerActive]="i == game.currentPlayer"
>
  <!-- If i is equal to game.currentPlayer, it means that the current player in the game is the player at the current index (i) in the players array of the game object. --> </app-player
>}

<div class="game_field">
  <div class="card_stack">
    <!-- Card Stack -->
    @for( count of [0,1,2,3]; track count; let i = $index) {
    <img
      [ngStyle]="{ 'right.px': i * 10 }"
      src="./assets/img/cards/card_cover.png"
      alt=""
    />
    <img
      (click)="takeCard()"
      class="top_card"
      style="right: 50px"
      src="./assets/img/cards/card_cover.png"
      alt=""
    />
    <!-- Stack Played Cards -->
    @for( playedCard of game.playedCards; track playedCard; let i = $index) {
    <img
      class="played_card"
      style="right: 50px"
      src="./assets/img/cards/{{ playedCard }}.png"
      alt=""
    />}
    <!-- Current Card with Animation -->
    @if (pickCardAnimation) {
    <img
      class="pick_card"
      style="right: 50px"
      src="./assets/img/cards/{{ currentCard }}.png"
      alt=""
    />}}
  </div>
</div>

<app-game-info [card]="currentCard" class="pin_bottom"></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="btn_add">
  <mat-icon>add</mat-icon>
</button>
